<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
	<styleBundle path="~/Content/css/extra">
		<include path="~/Content/material-icons.css" />
		<include path="~/lib/materialize/css/materialize.min.css" />
		<include path="~/lib/materialize-stepper/dist/css/mstepper.min.css" />
	</styleBundle>
	<styleBundle path="~/Content/css">
		<include path="~/lib/mdb-ui-kit/mdb.min.css" />
		<include path="~/Content/Site.css" />
	</styleBundle>
</bundles>